.mediaViewInfo {
	--web-view-name: Philippines Travel - Home;
	--web-view-id: Philippines Travel - Home;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}

#home{
	width: fit-content;
}


#mainbg{
	background-image: url(../images/bgWelcome.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: -1px;
	overflow: visible;
}

.darkBg{
	background-color:rgba(20,19,20,1);
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
	width: 100%;
	height: 1080px;
	left: 0px;
	top: 120%;
	overflow: visible;
}

#titlemain {
    /* left: 127px; */
	top: 160px;
	position: absolute;
	overflow: visible;
	width: 100%;
	text-align: center;
	white-space: nowrap;
	font-family: Bebas Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 200px;
	color: rgba(255,255,255,1);
	letter-spacing: 20px;
}

#maincaption{
	top: 350px;
	position: absolute;
	overflow: visible;
	width: 100%;
	white-space: nowrap;
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(255,255,255,1);
}

.title1{
	left: 5%;
	top: 3%;
	position: absolute;
	overflow: visible;
	width: 825px;
	white-space: nowrap;
	text-align: left;
	font-family: Bebas Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 70px;
	color: rgba(255,210,61,1);
	letter-spacing: 0px;
}

#exploreBtn{
	border: none;
	color: rgba(20,19,20,1);;
	background-color: #FFD23D;
	width: 110px;
	height: 35px;
	font-family: Poppins;
	font-size: 18px;
	position: absolute;
	cursor: pointer;
	left:46%;
	top:400px;
	/* display:flex;  */
	margin:0 auto;
	/* align-items: center; */
	justify-content: center;
}

